*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body , html {
    font-family: "Montserrat" , sans-serif ;
    font-size: 18px;
}
h2 {
    font-family: "Montserrat" , sans-serif ;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
h3 {
    font-family: "Montserrat" , sans-serif ;
    font-size: 24px;
}
a {
    font-family: "Montserrat" , sans-serif ;
    font-size: 14px;
}
header {
    background:linear-gradient(rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.479)), url("../images/header.jpg") no-repeat center;
    background-size: cover;
    height: 100vh ;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed; 
    }

.header-content {
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;
}
.header-text p, 
.meet-text p {
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;

}
.header-text p::after, 
.meet-text h2::after,
.title h2::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #c59a6d;
    margin: 30px auto;

}
.header-text h1 {
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 30px 0;
    border: 1px solid #fff;
    padding: 10px 30px;
    letter-spacing: 0.1em;

}
nav.menu i {
    position: absolute;
    left: 50px;
    top: 50px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}
.header-icon i, 
.meet-icon i {
    font-size: 24px;
    border: 1px solid #c59a6d;
    padding: 4px 10px;
    transition: 300ms all;
    cursor: pointer;
    color: #c59a6d;
}
.header-icon i:hover
.meet-icon i:hover {
background-color: #c59a6d;
color:#fff
}

#meet {
padding: 90px 0;
display: flex;
align-items: center;
justify-content: center;
}
.meet {
    text-align: center;
    width: 56%;
}
.meet-text p {
   width: 66%;
   margin: 0 auto;
   margin-bottom: 50px;
}
#video {
   background: linear-gradient(rgba(0,0,0,0.507), rgba(0,0,0,0.527)),
   url(../images/Layer\ 99.jpg) no-repeat center;
   height: 500px;
   display: flex;
   align-items: center;
   justify-content: center; 
   background-attachment: fixed;
}
.video i {
    font-size: 36px;
    color: #fff;
    cursor: pointer;
    transition: 200ms all;
}
.video i:hover {
    font-size: 48px;
}

#services  {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.title {
    width: 66%;
    margin-bottom: 90px;
    margin: 70px auto;
}
.title p {
    font-size: 16px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
}
.services-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 90px;
    height: 500px;
}
.services-items {
    
    padding: 80px 15px;
    transition: 300ms all;
    margin: 70px auto;
}
.services-item i {
    font-size: 60px;
    color: #8e9297;
}
.services-item h3 {
    margin: 30px 0;
    color: #8e9297;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.05rem;
} .services-item p {
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    color: #8e9297;
}
.services-item:hover {
    border: 2px solid #8e9297;
    padding: 120px 14px;
}
.services-item:hover i,
.services-item:hover h3 {
    color: #c59a6d;
}
.services-item:hover p {
    color: 000;
}
#bant {
    height: 200px;
    background-color: #282f35;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 90px;
}
.bant a {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 80px;
    border: 1px solid #c59a6d;
    letter-spacing: 0.1rem;
    transition: 200ms all;
}
.bant a:hover {
    background-color: #c59a6d;
    letter-spacing: 00.05rem;
}
#latest-project {
    margin-bottom: 90px;
}
.latest-project-item {
display: flex;
}
.latest-project-item {
    width: 20%;
    height: 360px;
    overflow: hidden;
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #282f35;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay-text p {
    color: #fff;
    font-size: 18px;
    line-height: 36px;
    font-weight: 500;
    text-align: center;
}
.overlay-text span {
    display: block;
    font-size: 28px;
    color: #c59a6d;
}
.overlay-text p::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 30px;
}



